* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
header {
  background-image: url("../images/banner/banner1.png");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
}
.banner-container {
  height: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 150px;
}
.right-banner {
  width: 500px;
}
.btn {
  padding: 20px 25px;
  color: white;
  background-color: #f15b22;
  border: 0px;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
}
.btn-right {
  margin-top: 32px;
  text-align: right;
}
.right-banner-title {
  color: #151414;
  text-align: right;
  font-family: Work Sans;
  font-size: 65px;
  font-weight: 700;
}
.right-banner-description {
  color: #444343;
  text-align: right;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
}

/* main content start */
.main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 134px;
  padding: 140px 230px;
}

.main-content-left {
}
.main-content-right {
  width: 420px;
}
.right-title {
  color: #151414;
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}
.right-des {
  color: #444343;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}
.right-info {
  color: #444343;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.fa-check {
  color: #16d887;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
/* main content end */

/* main plan content start */
.plans{
    display: flex;
    gap: 90px;
    padding: 50px 230px;
    justify-content: center;
    align-items: center;
}
.my-plan-head{
    text-align: center;
    margin-bottom: 55px;
}
.plan{
    text-align: center;
    /* margin-bottom: 135px; */
}
.plan img{
    width: 92px;
    height: 92px;
    
}
/* main plan content end */

/* positive mind section start */
.positive{
    padding: 130px 0px;
    
}
.positive-mind{
    width: 1140px;
    height: 300px;
    background-image: url('../images/gradient2.png'),url('../images/watch.png');
    background-repeat: no-repeat;
    /* margin-bottom: 130px; */
    margin: 0 auto;
}
.positive-info{
    padding: 60px 64px;
}
.positive-title{
    color: #FFF;
font-family: Work Sans;
font-size: 40px;
font-weight: 700;
}
.positive-btn{
    margin-top: 24px;
    background-color: #FFF;
    color:#f15b22;
}
/* positive mind section end */

.foot-content{
    background-color: #151414;
    padding: 130px 230px;
    display: flex;
    justify-content: space-between;
}
.common{
    color: #FFF;
    margin-bottom: 16px;
}
.left-content{
    width: 585px;
}
.sub-btn{
    border-radius: 8px;
}
.right-content input{
    width: 325px;
    border: 0px;
    padding: 20px;
}